<% provide(:title, "Top") %>
<div class="center jumbotron top-main">
    <h1>Twenty Hearts Riders</h1>
    <a class="btn btn-lg btn-primary" href="/login">ログイン</a>
    <p>アカウント作成は<%= link_to "こちら", signup_path%>から</p>
</div>
