// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.back-main {
  position: relative;
  min-height: 100vh;
  background-image: url("/DSC_0844_Original.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.back-main-for-phone {
  position: relative;
  min-height: 100vh;
  background-image: url("/DSC_0844_Original.jpg");
  background-size: cover;
  background-position: -640px;
  background-repeat: no-repeat;
}


.btn-edit {
  margin-top: 10px;
}

.btn-other {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-dead {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: gray;
}

.btn-signup {
  margin-top: 10px;
}

.btn-picture {
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: 10px;
}

.picture {
  margin-left: 0px;
}

#phone {
}

@media screen and (min-width:480px) {
  .back-main-for-phone {
    display:none;
  }
}

@media screen and (max-width:480px) {
  .back-main {
    display:none;
  }
  .picture {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}
