<% provide(:title, "Edit") %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '編集') %>
<h1>イベント内容編集</h1>

<div class="row">
    <%= render 'form' %>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-_U7Sqau0D9Ve36ou981kM5llfUNwcj4&callback=initMap" async defer></script>
