<% provide(:title, 'New') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '新規作成') %>
<h1>新規ツーリング企画作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 8
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-_U7Sqau0D9Ve36ou981kM5llfUNwcj4&callback=initMap" async defer></script>
    <%= render 'form' %>
  </div>
</div>